### Format

- 10 questions worth 10 points each.

- Do not share answers or collaborate. 

- Open access to resources (online, notes, documentation)

### Example function


```python
def double_number(a):
    return a*2
    
```

## Discussion 


#### 1. What is a dataframe?


#### 2. What information can we obtain about a dataframe?


#### 3. How have we interacted with a dataframe?

### Practice Exercises

1. Load the dataframe 'pokemon' from pydataset

2. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics
    

---

#### Highest and lowest values


1. What is the highest HP value present?

    - Create a function named highest_attack.
    - Use the loaded dataframe as an argument. 


2. Which Pokemon possess(es) the highest HP value?

 
3. How many different types are represented in Type 1?

    - Create a function named num_types
    - Use the loaded dataframe as an argument
    

4. Number of Pokemon whose Type 2 is Ghost


5. Percentage of Pokemon whose Type 2 is Ghost

    - Create a function named percent_ghost
     - Use the loaded dataframe as an argument


6. Number of Pokemon whose Attack is greater than Defense


7. Highest 'Total' value of the Psychic Type 2 


8. Lowest speed for Grass or Rock


9. Average speed by Generation


10. Convert all the column names to lowercase letters


11. Rename Sp. Attack to special-attack


12. Rename Sp. Def to special-defense

    
13. Which Pokemon has/have the greatest difference in: 

    - Attack and Defense points
    - Special Attack and Special Defense
  

14. How many Pokemon are of Type 1 Rock and Type 2 Fairy


15. Which Pokemon has appears last alphabetically?

    - Create a function named last_pokemon
    - Use the loaded dataframe as an argument


---


Bonus: 

Create a function which acccepts: 

- a dataframe
- two different Pokemon stats e.g. Attack and Defense


The function will:

- Calculate difference between the two given Pokemon stats 

- Create a column which contains the difference of the two given Pokemon stats named stats-diff

### Define a function with the parameter a

```
def double_number(a):
    return a*2
```

In [247]:
import pandas as pd
import numpy as np
from pydataset import data

In [248]:
df = pd.read_csv('pokemon_data.csv')

In [249]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [250]:
# 1. What is the highest HP value present?
df.HP.max()

255

In [251]:
# 2. Which Pokemon possess(es) the highest HP value?
df.nlargest(1, 'HP')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False

In [252]:
# 3. How many different types are represented in Type 1?
df['Type 1'].nunique()  # gives int

18

In [253]:
df['Type 1'].sort_values().unique()  #  gives numpy.ndarray

array(['Bug', 'Dark', 'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire',
       'Flying', 'Ghost', 'Grass', 'Ground', 'Ice', 'Normal', 'Poison',
       'Psychic', 'Rock', 'Steel', 'Water'], dtype=object)

In [254]:
df['Type 1'].sort_values()  #  gives series

600      Bug
136      Bug
457      Bug
132      Bug
656      Bug
       ...
172    Water
610    Water
145    Water
574    Water
184    Water
Name: Type 1, Length: 800, dtype: object

In [255]:
df['Type 1'].unique()  #  gives numpy.ndarray

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [256]:
# 4. Number of Pokemon whose Type 2 is Ghost
len(df[df['Type 2'] == 'Ghost'])

14

In [257]:
# 5. Percentage of Pokemon whose Type 2 is Ghost
(len(df[df['Type 2'] == 'Ghost']) / len(df.index)) * 100

1.7500000000000002

In [258]:
df.index

RangeIndex(start=0, stop=800, step=1)

In [259]:
df.shape[0]

800

In [260]:
# 6. Number of Pokemon whose Attack is greater than Defense
len(df[df['Sp. Atk'] > df['Sp. Def']])

338

In [261]:
# 8. Lowest speed for Grass or Rock
df[df['Type 1'].isin(['Grass', 'Rock'])].min()

/var/folders/zx/rl1648955j94d0gt7b_0rshh0000gn/T/ipykernel_63280/4087009502.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['Type 1'].isin(['Grass', 'Rock'])].min()

#                     1
Name          Abomasnow
Type 1            Grass
HP                   30
Attack               27
Defense              30
Sp. Atk              10
Sp. Def              25
Speed                10
Generation            1
Legendary         False
dtype: object

In [262]:
# 9. Average speed by Generation
df.groupby('Generation')['Speed'].agg('mean')

Generation
1    72.584337
2    61.811321
3    66.925000
4    71.338843
5    68.078788
6    66.439024
Name: Speed, dtype: float64

In [263]:
# 10. Convert all the column names to lowercase letters
df.columns = df.columns.str.lower()

In [264]:
 df.columns

Index(['#', 'name', 'type 1', 'type 2', 'hp', 'attack', 'defense', 'sp. atk',
       'sp. def', 'speed', 'generation', 'legendary'],
      dtype='object')

In [265]:
# 11. Rename Sp. Attack to special-attack
# 12. Rename Sp. Def to special-defense
df.rename(columns = {'sp. atk':'special-attack', 'sp. def': 'special-defense'}, inplace=True)

In [266]:
df.head(1)

,#,name,type 1,type 2,hp,attack,defense,special-attack,special-defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False

In [276]:
# 13. Which Pokemon has/have the greatest difference in:
#     Attack and Defense points
#     Special Attack and Special Defense
    
df['attack_defense'] = abs(df.attack - df.defense)
df['sp_attack_defense'] = abs(df['special-attack'] - df['special-defense'])

In [277]:
df.nlargest(1,'sp_attack_defense')

,#,name,type 1,type 2,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_defense,sp_attack_defense,stats-diff
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False,220,220,-220

In [278]:
df.nlargest(1,'attack_defense')

,#,name,type 1,type 2,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_defense,sp_attack_defense,stats-diff
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False,220,220,-220

In [270]:
# 14. How many Pokemon are of Type 1 Rock and Type 2 Fairy
df[(df['type 1']=='Rock') & (df['type 2']=='Fairy')]

,#,name,type 1,type 2,hp,attack,defense,special-attack,special-defense,speed,generation,legendary,attack_defense,sp_attack_defense
773,703,Carbink,Rock,Fairy,50,50,150,50,150,50,6,False,-100,-100
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,-50,-50
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,50,50

In [271]:
# 15. Which Pokemon has appears last alphabetically?
df.name.max()

'Zygarde50% Forme'

In [272]:
def jpt(x,y):
    df['stats-diff'] = x - y
    return df['stats-diff']

In [273]:
jpt(df.attack, df.defense)

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Name: stats-diff, Length: 800, dtype: int64