# Exercises Part I

Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:


    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
Use Series attributes and methods to explore your fruits Series.

In [313]:
import pandas as pd

In [314]:
fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [315]:
# 1. Determine the number of elements in fruits.

fruits_series.size

# alternate solution
# fruits_series.count()

17

In [316]:
# 2. Output only the index from fruits.

print(fruits_series.index)

list(fruits_series.index)  # print only indexes

RangeIndex(start=0, stop=17, step=1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [317]:
#3. Output only the values from fruits.

fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [318]:
# 4. Confirm the data type of the values in fruits.

fruits_series.dtype

dtype('O')

In [319]:
# 5. Output only the first five values from fruits

fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [320]:
#  Output the last three values

fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [321]:
# Output two random values from fruits.

fruits_series.sample(2)

5    honeycrisp apple
9                kiwi
dtype: object

In [322]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [323]:
# 7. Run the code necessary to produce only the unique string values from fruits.

print(fruits_series.unique()) 

# alternate solution
# list(fruits_series.value_counts().index)

['kiwi' 'mango' 'strawberry' 'pineapple' 'gala apple' 'honeycrisp apple'
 'tomato' 'watermelon' 'honeydew' 'blueberry' 'blackberry' 'gooseberry'
 'papaya']

In [324]:
# 8. Determine how many times each unique string value occurs in fruits.

fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [325]:
# 9. Determine the string value that occurs most frequently in fruits.

fruits_series.value_counts().nlargest(n=1)

#alternate solutions
# fruits_series.mode()
# fruits_series.value_counts().idmax()
# fruits_series.value_counts().head()
# print(fruits_series.describe())
# fruits_series.describe().loc['top']

kiwi    4
dtype: int64

In [326]:
# 10. Determine the string value that occurs least frequently in fruits.

fruits_series.value_counts().nsmallest(n=1, keep='all')

# alternate solutions
# fruits_series.value_counts()[fruits_series.value_counts() ==1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

# Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

In [327]:
# 1. Capitalize all the string values in fruits.

fruits_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [328]:
# 2. Count the letter "a" in all the string values (use string vectorization).

fruits_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [329]:
# 3. Output the number of vowels in each and every string value

print(fruits_series.str.findall('[aeiou]'))
# print(type(fruits_series.str.findall('[aeiou]')))
fruits_series.str.findall('[aeiou]').str.len()

0              [i, i]
1              [a, o]
2              [a, e]
3        [i, e, a, e]
4        [a, a, a, e]
5     [o, e, i, a, e]
6           [o, a, o]
7        [a, e, e, o]
8           [o, e, e]
9              [i, i]
10             [i, i]
11             [i, i]
12             [a, o]
13          [u, e, e]
14             [a, e]
15       [o, o, e, e]
16          [a, a, a]
dtype: object

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [330]:
# 4. Write the code to get the longest string value from fruits.

print(fruits_series.str.len())
print(fruits_series.str.len().max())
print([fruits_series.str.len() == fruits_series.str.len().max()])
fruits_series[fruits_series.str.len() == fruits_series.str.len().max()]

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64
16
[0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool]

5    honeycrisp apple
dtype: object

In [331]:
# 5. Write the code to get the string values with 5 or more letters in the name.
print(fruits_series.str.len())
print(fruits_series.str.len()>= 5)
fruits_series[fruits_series.str.len()>= 5]

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64
0     False
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
dtype: bool

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [332]:
# 6. Find the fruit(s) containing the letter "o" two or more times.
print(fruits_series.str.count('o'))
print(fruits_series.str.count('o') >=2)
fruits_series[fruits_series.str.count('o') >=2]

0     0
1     1
2     0
3     0
4     0
5     1
6     2
7     1
8     1
9     0
10    0
11    0
12    1
13    0
14    0
15    2
16    0
dtype: int64
0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
dtype: bool

6         tomato
15    gooseberry
dtype: object

In [333]:
# Write the code to get only the string values containing the substring "berry".
print(fruits_series.str.contains('berry'))
fruits_series[fruits_series.str.contains('berry')]

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [334]:
# 8. Write the code to get only the string values containing the substring "apple"
print(fruits_series.str.contains('apple'))
fruits_series[fruits_series.str.contains('apple')]

0     False
1     False
2     False
3      True
4      True
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [335]:
# 9. Which string value contains the most vowels?

print(fruits_series.str.findall('[aeiou]'))
print(fruits_series.str.findall('[aeiou]').str.len())
print(fruits_series.str.findall('[aeiou]').str.len().max())
fruits_series[fruits_series.str.findall('[aeiou]').str.len() == fruits_series.str.findall('[aeiou]').str.len().max()]

0              [i, i]
1              [a, o]
2              [a, e]
3        [i, e, a, e]
4        [a, a, a, e]
5     [o, e, i, a, e]
6           [o, a, o]
7        [a, e, e, o]
8           [o, e, e]
9              [i, i]
10             [i, i]
11             [i, i]
12             [a, o]
13          [u, e, e]
14             [a, e]
15       [o, o, e, e]
16          [a, a, a]
dtype: object
0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64
5

5    honeycrisp apple
dtype: object